@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply bg-bgRed text-center p-3 block text-bgWhite hover:opacity-90 transition-all hover:scale-105;
	}
}

/* ---------- CSS Styles --------- */

@font-face {
    font-family: 'Pokedex';
    src: url('fonts/pokemon.woff2') format('truetype');
}

@font-face {
    font-family: 'Flexo-Medium';
    src: url('fonts/flexo.woff2') format('truetype');
}

body {
    font-family: Flexo-Medium;
    background-color: #FCFCFC;
    overflow-x: hidden;
}

.elipse{
  clip-path: ellipse(40% 50% at 50% 50%);
}

.bgRows{
  background-image: url("images/bg-rows.png");
  background-repeat: no-repeat;
}

.ocean {
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 100%;
  }

.wave {
    background: url("svgs/wave.svg") repeat-x;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1000%;
    height: 100px;
    animation: wave 25s cubic-bezier(0.36, 0.45, 0.63, 0.53) alternate infinite;
  }

.wave#lapras {
    background: url("images/lpras.png") no-repeat;
    background-size: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 995;
    animation: lapras 20s linear infinite;
  }

  .wave:nth-of-type(2) {
    bottom: 0;
    right: 0;
    animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) alternate infinite;
    opacity: .5;
    z-index: 999;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    right: 0;
    animation: wave 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) alternate infinite;
    opacity: .7;
  }
  
  .pokeJump{
    animation: pokeJump .2s alternate infinite;
  }
  

  @keyframes wave {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: -1600px;
    }
  }

  @keyframes pokeJump {
    0% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  
  @keyframes lapras {
    0% {
      background-position-x: 0;
      height: 0;
    }
    50% {
      height: 120px;
    }
    100% {
      background-position-x: 100%;
      height: 0;
    }
  }

  .translate-up {
    transform: translateY(-10%);
    transition: transform 0.3s ease-out;
  }
  
  .translate-down {
    transform: translateY(10%);
    transition: transform 0.3s ease-out;
  }