@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply bg-bgRed text-center p-3 block text-bgWhite hover:opacity-90 transition-all hover:scale-105;
	}

  .btnPokedex{
    @apply absolute right-0 p-3 m-2 bg-bgGray z-20 opacity-90 transition-all hover:opacity-100
  }
}

/* ---------- CSS Styles --------- */

@font-face {
    font-family: 'Pokedex';
    src: url('fonts/pokemon.woff2') format('truetype');
}

@font-face {
    font-family: 'Flexo-Medium';
    src: url('fonts/flexo.woff2') format('truetype');
}

body {
    font-family: Flexo-Medium;
    background-color: #FCFCFC;
    overflow-x: hidden;
}

.bgRows{
  background-image: url("images/bg-rows.png");
  background-repeat: no-repeat;
}

.bgPokedex{
  background-image: url("images/bgPokedex.png");
  background-repeat: repeat;
}

.wave {
    background: url("svgs/wave.svg") repeat-x;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1000%;
    height: 100px;
    animation: wave 25s cubic-bezier(0.36, 0.45, 0.63, 0.53) alternate infinite;
  }

.wave#lapras {
    background: url("images/lpras.png") no-repeat;
    background-size: 150px;
    width: 100%;
    height: 100px;
    z-index: 965;
    animation: lapras 20s linear infinite;
  }

  .wave:nth-of-type(2) {
    animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) alternate infinite;
    opacity: .5;
    z-index: 966;
  }
  
  .wave:nth-of-type(3) {
    animation: wave 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) alternate infinite;
    opacity: .7;
  }
  
  .pokeJump{
    animation: pokeJump .2s alternate infinite;
  }
  
  .bars {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    pointer-events: none;
  }
  
  .bars > div {
    transform: translateX(-100%);
  }
  
  .show > div {
    animation: showBar 0.2s both ease-in-out;
  }
  
  .hide > div {
    animation: hideBar 0.2s both ease-in-out;
  }
  
  .show > div:nth-child(1), .hide > div:nth-child(1) {
    animation-delay: 0s;
  }

  .show > div:nth-child(2), .hide > div:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .show > div:nth-child(3), .hide > div:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes showBar {
    0% { transform: translateX(-100%); }
    100% {  transform: translateX(0%);  }
  }
  
  @keyframes hideBar {
    0% {  transform: translateX(0%);  }
    100% {  transform: translateX(100%);  }
  }

  @keyframes wave {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: -1600px;
    }
  }

  @keyframes pokeJump {
    0% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(1px);
    }
  }
  
  @keyframes lapras {
    0% {
      background-position-x: 0;
      height: 0;
    }
    50% {
      height: 120px;
    }
    100% {
      background-position-x: 100%;
      height: 0;
    }
  }